body {
  margin : 0;
}

.centerInScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.buttonBar {
  position:absolute;
  bottom: 20px; 
}  

button {
  font-size:20px;
  width: 100px;
}  
  
  